/*-----navbar-----*/

nav.navbar.navbar-default.navbar-fixed-top {
    height: 70px;
    background-color: #efa7d2;
    border: none;

    -webkit-box-shadow: 0px -2px 12px 1px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px -2px 12px 1px rgba(112, 112, 112, 1);
    box-shadow: 0px -2px 12px 1px rgba(112, 112, 112, 1);
}

#headerlogo {
    height: 70px;
    margin-left: 10px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

#headerlogo:hover {
    -webkit-filter: brightness(150%)
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    background-color: transparent;
}

.navbar-brand {
    float: left;
    height: 70px;
    padding: 0px 15px;
    background-color: transparent;
}

.navbar-menu-items {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    color: #403F4C;
    background-color: transparent;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #F5F749;
    background-color: transparent;
}


/*-dropdown-*/

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
    background-color: transparent;
}

/*-----footer-----*/

.footer {
    background-color: #F5F749;
    height: 30px;
    bottom: 0;

    -webkit-box-shadow: 0px 2px 12px 1px rgba(112, 112, 112, 1);
    -moz-box-shadow: 0px 2px 12px 1px rgba(112, 112, 112, 1);
    box-shadow: 0px 2px 12px 1px rgba(112, 112, 112, 1);
}

.social-media {
    margin-top: 2px;
    margin-right: 5px;
    color: #484848;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-align: right;
}

.follow-us {
    color: #484848;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.social-media-icons: {
    color: #403F4C;
}

.social-media-icons:hover {
    color: #efa7d2;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

/*-----backgrounds-----*/

.callout-container {
    padding: 0;
    margin: 0;

    display: flex;
    position: relative;
}

.background {
    height: 75%;

    background: url(assets/home-pic-2.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-2 {
    background-color: #ffffff;
    padding: 0;
    min-height: calc(100vh - 100px - 35%)
}

.background-tourdates-page {
    height: 50%;

    background: url(assets/crowd.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-media-page {
    height: 50%;

    background: url(assets/drums.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-gallery-page {
    height: 50%;

    background: url(assets/guitar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-bookus-page {
    height: 50%;

    background: url(assets/microphone.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----home page-----*/

.title {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: 'Righteous', cursive;
    color: #484848;
    vertical-align: middle;
}

/*-----tour dates-----*/

.gig-box {
    border-radius: 0px;
    text-align: center;
    padding: 25px 10px 40px;
    margin: 0px 20px 15px;
    align-items: center;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
}

.gig-info {
    font-family: 'Righteous', cursive;
    font-size: 20px;
    color: #484848;
    line-height: 1;
}

hr {
    width: 35%;
    border-top: 2px solid #484848;
}

/*-----media-----*/

audio {
    width: -webkit-fill-available;
    max-width: 300px;
}

.media-title {
    margin-left: 20px;
    padding-bottom: 15px;
    font-size: 30px;
    text-align: left;
    font-family: 'Righteous', cursive;
    color: #484848;
    vertical-align: middle;
}

.album-box {
    border-radius: 0px;
    text-align: center;
    padding: 20px 0px 10px;
    margin: 0px 20px 15px;
    align-items: center;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
}

.album-cover {
    height: 300px;
    margin: 10px 0;
}

.album-info {
    color: #484848;
    font-family: 'Righteous', cursive;
    font-size: 15px;
}

.new-tag {
    position: absolute;
    background-color: #efa7d2;
    color: #403F4C;
    padding: 2px;
    border: 2px solid #403F4C;
    font-family: 'Righteous', cursive;
    margin: 0 10 10px;
}

.video-box {
    border-radius: 0px;
    text-align: center;
    padding: 20px 0px 10px;
    margin: 0px 20px 15px;
    align-items: center;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
}

.video-info {
    color: #484848;
    font-family: 'Righteous', cursive;
    font-size: 15px;
    margin: 10px 0 5px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    margin: 0 15px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----gallery-----*/

.picture-box {
    height: 200px;
    border-radius: 0px;
    text-align: center;
    padding: 15px 10px 15px;
    margin: 0px 20px 15px;
    align-items: center;

    -webkit-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
    box-shadow: 0px 0px 6px 2px rgba(224, 224, 224, 1);
}

.gallery-img {
    width: 180px;
    cursor: pointer;
}

.englarged-img {
    padding: 15px;
    width: calc(100% - 10%);
}

.modal-content {
    width: fit-content;
    height: fit-content;
}

/*-----book us-----*/

.bookings-blurb {
    color: #484848;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

.bookings-input {
    font-family: 'PT Sans', sans-serif;
}

.btn-default {
    font-family: 'PT Sans', sans-serif;
}

.btn-default:hover {
    background-color: #fff;
}

.btn-default:focus {
    background-color: #efa7d2;
    outline: none;
    box-shadow: none;
}

}

/*-----media queries-----*/

/*-----buttons-----*/

/*-hamburger-*/

.navbar-default .navbar-toggle {
    border-color: transparent;
    padding: 19px 19px;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #403F4C;
}


/*-----media queries-----*/

@media only screen and (max-width: 1005px) {

    .album-cover {
        height: 250px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background-color: #F5F749;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #D9200D;
        background-color: transparent;
    }

    .album-cover {
        height: 200px;
    }

}



/*-----misc-----*/
